/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("./images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
    margin-top: 120px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    margin: 4px auto;
}